.messages {
 margin-left: 10px;
 display: flex;
 align-items: center;
}
.avatar {
 width: 80px;
 height: 80px;
 border-radius: 40%;
}
.message {
 padding: .2em 2em 1em 2em;
 width: 250px;
 margin-left: 26px;
 display: inline-block;
 background: #282c34;
 border-radius: 10px;
 box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
 position: relative;
}
.message:before {
 content: "";
 width: 0;
 height: 0;
 margin-top: -5px;
 margin-right: -5px;
 right: 100%;
 top: calc(80% - 12px);
 border-top: 12px solid transparent;
 border-right: 24px solid #282c34;
 border-bottom: 12px solid transparent;
 transform: rotate(12deg);
 z-index: -1;
 position: absolute;
}
.name {
 text-align: left;
 size: 4px;
 color: burlywood;
}

.text {
 text-align: start;
 color: beige;
}

.time {
 text-align: right;
 color: burlywood;
}



