.stales {
 display: flex;
    transform: translate(-260px);
    text-decoration: darkolivegreen;
    transition-duration: 500ms;
    width: 280px;
    border: 1px solid beige;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
    background: #282c34;
}
.stales:hover{
    transition-duration: 500ms;
    transform: translate(0);
}

.stylejunior {
    text-decoration: none;
    color: burlywood;
    margin: 10px;
}

.stylejunior:hover {
    color: maroon;
    font-style: italic;
}

